@model IEnumerable<BLL.DTO.MessageDTO>
@using Microsoft.AspNet.Identity;
@if (Model != null)
{
    foreach (var message in Model)
    {
        
    <div class="container">
        <div class="row">
            <div class="col-sm-3 border border-info rounded" style="background-color: #a8adb3">
                <p style="padding-top:10px;"><b>Date:</b> @message.Date </p> 
                <p><b>UsersName:</b> @message.UserName </p> 
                <p><b>Message Id:</b> @message.Id</p>
                @if (User.IsInRole("admin"))
                {
                    @Html.ActionLink("Delete Message", "DeleteMessage", "Forum", new { messageId = message.Id, topicId = message.TopicId },
                         new { @class = "btn btn-success mb-2" })
                }
                @if (User.Identity.GetUserId() == message.UserForumId)
                {
                    @Html.ActionLink("Edit Message", "EditMessageForm", "Forum", message,
                         new { @class = "btn btn-success mb-2" })
                }
            </div>
            <div class="col border border-info rounded" style="padding-left: 35px;">
                <p>@message.Text</p>
            </div>
        </div>
        
    </div>
            <hr />
            }
            }
